.site-footer {
    background-color: #1b2845;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-column p, .footer-column ul {
    font-size: 16px;
    line-height: 1.6;
    margin: 5px 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

/* Knappstil */
.footer-buttons a {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    border: 2px solid #355628;
    color: white;
    text-decoration: none;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.footer-buttons a:hover {
    background-color: #ffffff;
    color: #1b2845;
}

/* E-poststil */
.footer-column a[href^="mailto:"] {
    color: #355628;
    font-weight: bold;
}

.footer-column a[href^="mailto:"]:hover {
    color: #fff;
    text-decoration: underline;
}

/* Copyright */
.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #355628;
    padding-top: 10px;
}
